<h1>New statement</h1>

<%= form_for @statement, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
  <div class="form-group pt-3 pb-3">
    <h2>Income details</h2>
    <template data-nested-form-target="template">
        <%= f.fields_for :incomes, @statement.incomes.build, child_index: 'NEW_RECORD' do |income| %>
          <%= render "income_fields", f: income %>
        <% end %> 
    </template>

    <%= f.fields_for :incomes, @statement.incomes.build do |income| %>
      <%= render "income_fields", f: income %>
    <% end %> 

    <!-- Inserted elements will be injected before that target. -->
    <div data-nested-form-target="target"></div>

    <button type="button" data-action="nested-form#add" class="btn btn-secondary mt-3">Add income</button>
  </div>

  <div class="form-group">
    <div class="row">
      <%= f.fields_for :expenditures, @statement.expenditures.build do |expenditure| %>
      <h2>Expenditure details</h2>
      <div class="col">
        <%= expenditure.label :name %>
        <%= expenditure.text_field :name, class: "form-control" %>
      </div>
      <div class="col">
        <%= expenditure.label :amount %>
        <%= expenditure.number_field :amount, step: :any, class: "form-control" %>
      </div>
    <% end %>
  </div>
  <%= f.submit "Save", class: "btn btn-primary mt-3" %>
<% end %>
